<h1>規定営業日&休業日 一覧ページ</h1>
<%= flash[:alert] %>
<%= render @day_conditions %>
<div class="create_new"><%= link_to "規定日新規作成", new_admin_day_condition_path %></div>
<%= link_to '管理画面トップページ', admin_root_path %>
