<h1>予約/編集</h1>
<%= render 'form', reservation: @reservation, url: admin_reservation_path(@reservation) %>
<%= link_to '詳細', admin_reservation_path(@reservation) %> |
<%= link_to '予約一覧へ戻る', admin_reservations_path %>
