.log_out {
  margin-left: 30px;
  margin-top: 40px;
  text-decoration: none;
}

.admin-top {
  margin-left: 30px;
}

.top-menu {
  margin-top: 15px;
}

.top-reservation {
  margin-top: 15px;
}

.top-default {
  margin-top: 15px;
}

.top-temporary {
  margin-top: 15px;
}
