// 規定営業日・休業日追加登録ページ(new.html)
.new_day_condition {
  margin-left: 30px;
}

.day-condition-flatpickr {
  margin-left: 30px;
  margin-top: 40px;
}

#flatpickr {
  margin-left: 30px;
}

.day-condition-new-instraction {
  margin-top: 30px;
  margin-bottom: -30px;
}

.check-day-conditon {
  margin-top: 60px;
}

// .day-condition-content {
//   padding-bottom: 1rem;
// }

.day-condition-slider {
  padding: 2rem;
}

.day-condition-record {
  margin-top: 60px;
}

.day-condition-submit {
  margin-left: 30px;
}

.new-day-condition-index {
  margin-left: 30px;
  margin-top: 40px;
}

.return-top {
  margin-left: 30px;
}

// 規定営業日・休業日一覧ページ(index.html)
.day-condition-index {
  margin-left: 30px;
  margin-top: 40px;
}

.day-condition-record-index {
  padding: 2rem;
}

hr {
  margin-bottom: 30px;
}

.create_new-day-condition {
  margin-left: 30px;
}

.setting-holidays {
  margin-left: 30px;
  margin-top: 30px;
}

.return-admin-top {
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
