.temporary-upper-container {
  margin-left: 30px;
  margin-top: 40px;
}

.temporary-date {
  margin-top: 50px;
}

.temporary-open {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: -40px;
}

.temporary-submit {
  margin-left: 30px;
  margin-top: 40px;
}

.return-temporary-index {
  margin-left: 30px;
  margin-top: 30px;
}
.return-admin-top-from-temporary {
  margin-left: 30px;
  margin-top: 30px;
}

// 臨時営業・休業日一覧表(index.html)
.temporary-index {
  margin-left: 30px;
  margin-top: 40px;
}

.temporary-index-content {
  margin-left: 30px;
  margin: 40px;
}

.return-temporary-new {
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
}

// 臨時営業・休業日の編集(edit.html)
.temporary-edit {
  margin-left: 30px;
  margin-top: 40px;
}

.temporary-date-flatpickr {
  margin-left: 30px;
  margin-top: 40px;
}

.temporary-edit-slider {
  padding: 2rem;
}

.temporary-edit-submit {
  margin-left: 30px;
  margin-top: 30px;
}

.return-temporary-index {
  margin-left: 30px;
  margin-top: 40px;
}
