<header>牛葡萄</header>
<div class="container">
  <h2>ご予約条件を入力してください :  </h2>
  <label for="num-box" id="guest_num">予約人数</label>
  <select name="pull-down" id="num-box">
    <% @number_list.each do |number| %>
      <option value="<%=number%>"<%= " selected" if number == 2%> ><%=number%>名</option>
    <% end %>
  </select>
  <p class="notification">※ 6名様以上のご予約は貸切となります</p>
  <%# <form action="cgi-bin/abc.cgi" method="post"> %>
  <%# <label><input type="checkbox" name="private" value="1" id="check" disabled onchange="">貸切</label> %>
  <label for="calendar" id="reservation_date">予約日</label>
  <input type="text" id="flatpickr">
  <label for="time-box" id="reservation_time">予約時間</label>
  <select name="pull-down" id="time-box"></select>
  <div class="check">
    <button id="modal-button" disabled>予約へ進む</button>
  </div>
</div>
<footer><small>© 2021 Ushibudou</small></footer>
<%= render 'modal' %>
