<p class="holidays-slider">
  <div class="holiday-check">
    営業の場合はチェックを入れ,<br>
    休業の場合はチェックを外してください。
  </div>
  <input type="checkbox" name="temporary_date[open]" id="temporary_date-open" <%= "checked" if slider_open.present? %>>
  <div class="slider" id="holiday-slider" data-start="<%= slider_start %>" data-end="<%= slider_end %>" <%= 'disabled="true"' if slider_open.nil? %>></div>
  <input type="hidden" name="temporary_date[start_min]" id="temporary_date-start">
  <input type="hidden" name="temporary_date[end_min]" id="temporary_date-end">
</p>
