// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// modal
.modal {
  display: none;
  max-width: 600px;
  height: 500px;
  border-radius: 2%;
  background-color: #ccc;
  position: fixed;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  margin: auto;
  padding-top: 10px;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.8);
}
// #modal-check:checked + .modal {
//   display: block;
//   padding: 10px;
//   box-sizing: border-box;
// }
label {
  cursor: pointer;
}

.reservation_content {
  text-align: center;
  font-size: 20px;
  margin-top: 1px;
}

.reservation_details {
  text-align: center;
}

.form {
  text-align: center;
}

input[type='text'] {
  width: 260px;
  height: 25px;
}

#reservation_button {
  border-radius: 5%;
  font-size: 18px;
  text-align: center;
  text-align: center;
  cursor: pointer;
  padding: 6px 15px;
  background-color: #ff8856;
  border: none;
  color: white;
}

.sub_text {
  font-size: 11px;
  margin-top: -10px;
}

.name {
  font-size: 12px;
}

.guest_name {
  width: 260px;
  height: 25px;
}

.mail {
  margin-top: -10px;
  font-size: 12px;
}
.guest_mail {
  width: 260px;
  height: 25px;
}

.phone {
  margin-top: -10px;
  font-size: 12px;
}

.guest_phone {
  width: 260px;
  height: 25px;
}

.request {
  font-size: 12px;
  margin-top: -10px;
}

textarea {
  margin-top: -30px;
  resize: none;
  width: 260px;
  height: 80px;
}

#return_button {
  margin-left: 20px;
}

@media screen and (max-width: 480px) {
  .modal {
    width: 300px;
    height: 500px;
  }
}

// 予約人数、予約日、予約時間のページ

header {
  background-color: black;
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}

.container {
  background-color: #eeeeee;
  max-width: 800px;
  height: 335px;
  margin: 150px auto;
  border-radius: 2%;
}

h2 {
  font-size: 18px;
  // font-family: 'Shippori Mincho', serif;
  padding-left: 120px;
  padding-top: 40px;
}

#modal-button {
  background-color: #ff8856;
  padding: 7px 40px;
  font-size: 17px;
  border-radius: 4%;
  color: white;
  margin-top: 50px;
  margin-left: 320px;
  border: none;
  // font-family: 'Shippori Mincho', serif;
}

.guest_num {
  margin-top: 40px;
}

#guest_num {
  // font-family: 'Shippori Mincho', serif;
  padding-left: 120px;
}

#num-box {
  width: 50px;
  height: 25px;
}

.notification {
  font-size: 14px;
  // font-family: 'Shippori Mincho', serif;
  float: right;
  margin-right: 300px;
  margin-top: -25px;
}

#reservation_date {
  // font-family: 'Shippori Mincho', serif;
  float: left;
  margin-left: 120px;
  margin-top: 40px;
}

#flatpickr {
  width: 140px;
  height: 26px;
  float: left;
  // margin-right: 570px;
  margin-top: 30px;
  margin-left: 20px;
}

#reservation_time {
  // font-family: 'Shippori Mincho', serif;
  float: left;
  margin-left: 130px;
  margin-top: 30px;
}

#time-box {
  width: 140px;
  height: 26px;
  margin-top: 30px;
  margin-left: 10px;
  // float: left;
}

#logo {
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.yakiniku {
  float: right;
  font-family: 'Shippori Mincho', serif;
  font-size: 14px;
  margin-right: 200px;
}

.restaurant_name {
  float: right;
  font-family: 'Shippori Mincho', serif;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 300px;
    height: 350px;
    // margin-top: 60px;
    margin-bottom: 200px;
  }

  h2 {
    margin-left: -100px;
    padding-top: 30px;
  }

  .guest_num {
    margin-top: 20px;
    margin-left: -100px;
  }

  .notification {
    margin-right: 26px;
    margin-top: 12px;
  }

  #reservation_date {
    float: left;
    margin-left: 20px;
    margin-top: 5px;
  }

  #flatpickr {
    float: left;
    margin-top: 5px;
    margin-left: 23px;
  }

  #reservation_time {
    margin-left: 20px;
    margin-top: 30px;
  }

  #time-box {
    margin-left: 8px;
  }

  #modal-button {
    margin-top: 30px;
    margin-left: 70px;
  }
}

// confirmation.html.erb
.confirmation_container {
  background-color: #eeeeee;
  max-width: 800px;
  height: 335px;
  margin: 150px auto;
  border-radius: 2%;
}

h3 {
  padding-top: 40px;
  text-align: center;
}

.confirmation {
  margin-top: 30px;
  text-align: center;
}

.cancel {
  margin-top: 30px;
  text-align: center;
}

.restaurant_phone {
  margin-top: 30px;
  text-align: center;
}

.button {
  margin-top: 25px;
  text-align: center;
}

#access {
  background-color: #ff8856;
  padding: 7px 40px;
  font-size: 17px;
  border-radius: 4%;
  color: white;
  border: none;
}

@media screen and (max-width: 767px) {
  .confirmation_container {
    max-width: 350px;
    height: 400px;
  }
}
