<div class="menu_new">
  <h2>メニュー新規投登録</h2>
  <%= render 'form', menu: @menu, url: admin_menus_path %>
  <div class="menu-index">
    <%= link_to 'メニュー一覧表', admin_menus_path %>
  </div>
  <div class="return-top-menu">
    <%= link_to '管理画面トップページ', admin_root_path %>
  </div>
</div>
